amis-person .person-item{
background-color:#88DDDD;
width:150px;
height:100px;
margin:10px;
display: inline-block;
border-radius:30px;
text-align:center;
 transition: all 0.5s ease;
}


amis-person .person-item:hover{
background-color:#DD88DD;

}
